
.form-group.inscrip:after {
    content:"*";
    color:red;
}


.cg
{
    font-size: xx-large;
    color: black;
}
.couleur
{

    background-color: moccasin;
}
.pied
{
    text-align: center;
    border: 5px cornsilk groove;
    font-style: italic;
}
p
{
    text-align: center;
    color: darkorange;
    font-size: x-large;
    font-family: "Bitstream Charter";
}
.sodonime
{
    color: cornsilk;
}
.photo
{
    text-align: center;
}
.mon_logo
{
    width: 50;
    border: 15px chocolate groove;
    text-shadow: 3px 3px 4px #ff0000;
    font-size:100px;
    color: darkred;
    font-family: Gargi;
    font-width: bold;
    text-align: center;
    background-color: darkorange;
}
em
{
    color: firebrick;
    font-weight: 15;
    font-family: "DejaVu Math ";
}

.contact
{
    color: black;
    font-size: revert;
}

.avis
{
    width: 350px;
    border: 4px solid darkorange;
    text-align: center;
}

.bienvenue
{
    color: darkorange;
}


/* *************************************************************Modal connexion***************************************************  */


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
