

.couleur2
{
background-color: moccasin;

}

.photo2
{
    text-align: center;
}

.mon_logo
{
    width: 50;
    border: 15px chocolate groove;
    text-shadow: 3px 3px 4px red;
    font-size:100px;
    color: darkred;
    font-family: Gargi;
    font-width: bold;
    text-align: center;
    background-color: darkorange;
}

.bord
{
    border: 2px black solid;
}
